<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Hello world</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>

    <nav th:fragment="header" class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" th:href="@{/}">Wepatus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="navbar-nav" sec:authorize="isAuthenticated()">
                <div class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </div>
            </div>
            <div class="navbar-nav" sec:authorize="!isAuthenticated()">
                <div class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </div>
            </div>
        </div>
    </nav>
</body>

</html>