<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Hello world</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>

    <div class="container">
        <header th:replace="fragments/layout :: header"></header>

        <div sec:authorize="isAuthenticated()">
            <a th:text="${me.getDisplayName()}" th:href="@{'/users/' + ${me.getProfileString()}}"></a>
            <h4>Find friends</h4>
            <form th:action="@{/findfriend}" method="POST">
                <input class="form-control" type="text" placeholder="Find user" name="filter" />
                <input class="btn btn-primary" type="submit">
            </form>

            <h4>Friends</h4>
            <div th:each="friend : ${friends}">
                <a th:text="${friend.getUser().getDisplayName()}" th:href="@{'/users/' + ${friend.getUser().getProfileString()}}"></a>
            </div>

            <h4>Friend requests</h4>
            <div th:each="friend : ${friendRequests}">
                <a th:href="@{'/users/' + ${friend.getUser().getProfileString()}}" th:text="${friend.getUser().getDisplayName()}"></a>
                <form method="POST" th:action="@{/acceptfriendrequest(profileString=${friend.getUser().getProfileString()})}">
                    <button class="btn btn-primary" type="submit" name="accept" value="accept" th:text="accept">accept</button>
                </form>
                <form method="POST" th:action="@{/rejectfriendrequest(profileString=${friend.getUser().getProfileString()})}">
                    <button class="btn btn-warn" type="submit" name="reject" value="reject" th:text="reject">reject</button>
                </form>
            </div>
            <form th:action="@{/file}" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" />
                <input type="text" name="text" />
                <input type="submit" value="Send!" />
            </form>

            <h4>Album</h4>
            <div th:each="file : ${me.getAlbum()}" class="card" style="width: 28rem;">
                <img class="card-img-top" th:src="@{'/files/' + ${file.getId()}}">
                <div class="card-body">
                    <p class="card-text" th:text="${file.getText()}"></p>
                    <div th:each="comment : ${file.getComments()}">
                        <div class="card" style="width: 25rem;">
                            <p th:text="${comment.getText()}"></p>
                            <p th:text="${comment.getUser().getDisplayName()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>